body {
    margin: 0 0 80px;
}
body, p {
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    letter-spacing: 0.02em;
    line-height: 20px;
}
.page {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
.page .page-header {
    width: 100%;
    position: relative;
    display: block;
}
.page .page-header .page-header-content {
    height: 100px;
    min-height: 100px;
    width: 100%;
    position: relative;
    display: block;
}
.page.secondary .page-header .page-header-content h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 310px;
    bottom: 0;
}
h1 {
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size: 42pt;
    letter-spacing: 0.00em;
    line-height: 44pt;
    font-smooth: always;
    color: #000000;
}
.grid {
    margin: 0 0 20px;
    display: block;
    height: auto;
    width: 100%;
}
.grid .row {
    width: 100%;
    *zoom: 1;
}
.grid .row [class*="span"] {
    float: left;
}
[class*="span"]:last-child {
    margin-right: 0;
}
.offset4 {
    margin-left: 320px;
}
.span10 {
    width: 780px;
}
.box {
    margin-top: 150px;
}
#leftchoice {
    width: 45%;
    float: right;
}
.grid .row [class*="span"] {
    float: left;
}
[class*="span"] {
    float: none;
    min-height: 1px;
    margin-right: 20px;
    margin-bottom: 5px;
    *zoom: 1;
}
.span5 {
    width: 380px;
}
b, strong {
    font-weight: bold;
    font-size: 15pt;
}
#rightchoice {
    padding-right: 0px;
}
select {
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    font-smooth: always;
    text-decoration: none;
    background-color: #008287;
    color: #fff;
}

form {
    margin-bottom: 50px;
}

input[type=submit] {
  background-color : #008287;
  color:#fff;
  text-decoration: none;
}

small {
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    letter-spacing: 0.02em;
    line-height: 20px;
    font-smooth: always;
    font-size: 10pt;
    color: #505050;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    margin-top: 100px;
    background-color : #008287;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
    line-height: 1.42857143;
}
.table > tbody > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 8px;
    line-height: 1.42857143;
}
th {
    text-align: left;
    color: #fff;
}
#map_canvas {
    width: 950px;
    height: 650px;
    left: 250px;
    top: 100px;
}